<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <h5mag_shopapi>
                <use>standard</use>
                <args>
                    <module>H5mag_ShopApi</module>
                    <frontName>h5magshopapi</frontName>
                </args>
            </h5mag_shopapi>
        </routers>
    </frontend>
    <modules>
        <H5mag_ShopApi>
            <version>0.0.1</version>
        </H5mag_ShopApi>
    </modules>
    <global>
        <models>
            <h5mag_shopapi>
                <class>H5mag_ShopApi_Model</class>
            </h5mag_shopapi>
        </models>	
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <h5mag_shopapi_order_observer>
                        <type>singleton</type>
                        <class>H5mag_ShopApi_Model_Order_Observer</class>
                        <method>emptyCart</method>
                    </h5mag_shopapi_order_observer>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
    </global>
    <default>
         <tab1>
             <general>
                 <text_field></text_field>
             </general>
         </tab1>
     </default>
</config>